ICONFAL RCDATA "..\..\res\images\falcon.ico"
MANFTHEME RCDATA "..\..\res\Theme.manifest"
MANFADMIN RCDATA "..\..\res\Admin.manifest"
MANFBOTH RCDATA "..\..\res\Both.manifest"
IMGLOGO RCDATA "..\..\res\images\Logo.png"
IMGCOUNTRY RCDATA "..\..\res\images\countrys.png"
AUTOCOMPLETE RCDATA "..\..\res\AutoComplete.txt"
OUTLINEIMAGES RCDATA "..\..\res\images\outline.png"
GUTTERIMAGES RCDATA "..\..\res\images\gutter.png"
DEBUGHINTIMAGES RCDATA "..\..\res\images\debughint.png"
MENUIMAGES RCDATA "..\..\res\images\menu.png"
DISMENUIMAGES RCDATA "..\..\res\images\dismenu.png"

moredown BITMAP "..\..\res\images\small\moredown.bmp"    
moreup BITMAP "..\..\res\images\small\moreup.bmp"

2  ICON "..\..\res\images\Template.ico"
3  ICON "..\..\res\images\Package.ico"
4  ICON "..\..\res\images\CSource.ico"
5  ICON "..\..\res\images\CPPSource.ico"   
6  ICON "..\..\res\images\Header.ico"
7  ICON "..\..\res\images\RCFile.ico"
8  ICON "..\..\res\images\InLine.ico"
9  ICON "..\..\res\images\Res.ico"
10 ICON "..\..\res\images\O.ico"
11 ICON "..\..\res\images\A.ico"
