
1 VERSIONINFO
FILEVERSION 3,2,0,10
PRODUCTVERSION 3,2,0,10
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "041604E4"
	{
		VALUE "CompanyName", "MZSW\0"
		VALUE "FileDescription", "C++ IDE easy and complete\0"
		VALUE "FileVersion", "3.2.0.10\0"
		VALUE "InternalName", "Falcon.exe\0"
		VALUE "LegalCopyright", "\0"
		VALUE "LegalTrademarks", "\0"
		VALUE "OriginalFilename", "Falcon.exe\0"
		VALUE "ProductName", "Falcon C++\0"
		VALUE "ProductVersion", "3.2.0.10\0"
		VALUE "Comments", "\0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0416 0x04E4
}
}

